@import './grid.css';
@import './variables.css';
@import './buttons.css';
@import './layout.css';
@import './filters.css';
@import './form.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 1rem/1.3 verdana;
  color: var(--font-color);
  background-color: var(--background-color);
  margin: 50px 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}

aside,
main {
  text-align: center;
}

section {
  padding: 20px 0 40px 0;
}

.logo {
  letter-spacing: 3px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
  padding: 0;
  font-weight: 300;
}

.navlink {
  list-style: none;
  margin: 0;
}

.navlink a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  min-width: 50px;
  cursor: pointer;
}

.navlink a:hover,
.navlink a:active {
  color: #b3b3b3;
}

.burger {
  font-size: 1.2em;
  display: none;
}

@media screen and (max-width: 678px) {
  body {
    overflow-x: hidden;
  }

  .burger {
    display: block;
  }

  .nav {
    position: absolute;
    right: -100%;
    top: 50px;
    width: 50%;
    height: calc(100% - 50px);
    background: #a0ca92;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    transition: all 400ms;
  }

  .navlink {
    text-align: center;
  }

  .nav-active {
    right: 0;
  }
}
