button {
  align-items: center;
  font: 400 12px / 16px 'Raleway', Helvetica, Arial, sans-serif;
  background: var(--button-color);
  color: var(--font-color);
  padding: 10px;
  border-radius: none;
  border: none;
  cursor: pointer;
}

button > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button:hover {
  color: var(--white-color);
  background-color: var(--button-hover-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

button:active {
  background-color: none;
}

button.active {
  color: var(--font-color);
  background-color: var(--chromatic-light-color-2);
}

button > * {
  pointer-events: none;
}
