.dropzone.active {
  background: var(--lighter-red);
  border: 2px solid var(--light-red);
}

.dropzone.over {
  background: var(--light-red);
  border: 2px solid;
}

.draggable,
.dropzone {
  transition: all 0.7s;
}

.dropzone {
  flex-shrink: 0;
  width: 5%;
  height: 110%;
  padding: 0px;
  top: 0px;
  right: 0px;
}

.notes .note {
  transition: opacity 0.7s ease-in-out;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  opacity: 1;
}
