/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  margin: 34px 0 20px;
  letter-spacing: 1px;
}

.filters > li {
  list-style-type: none;
  margin: 0 5px;
}

.filters p {
  padding: 0.3rem 1rem;
  margin: 0;
  border-radius: 2rem;
  min-width: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.filters p:hover,
.filters p.active {
  background: var(--light-black);
  color: var(--white);
}

.filters p i {
  padding: 0 6px 0 0;
}

/* FILTERED ELEMENTS (NOTES)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.notes {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.notes .note {
  /* background: rgb(250, 250, 250, 1); */
  background: rgb(250, 250, 250, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.notes .note.imp-1 {
  border-bottom: 5px solid var(--importance-1);
}

.notes .note.imp-2 {
  border-bottom: 5px solid var(--importance-2);
}

.notes .note.imp-3 {
  border-bottom: 5px solid var(--importance-3);
}

.notes .note.imp-4 {
  border-bottom: 5px solid var(--importance-4);
}

.notes .note.imp-5 {
  border-bottom: 5px solid var(--importance-5);
}

.notes .note-title {
  font-size: 1.3rem;
}

.notes .note-title:hover {
  text-decoration: underline;
}

.notes .note-desc {
  font-size: 1.1rem;
}

.notes .note-desc:hover {
  text-decoration: none;
}

.notes figcaption {
  padding: 1rem;
}

.notes .note-categories {
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
}

.notes .note-categories * {
  display: inline-block;
}

.notes .note-categories li {
  margin-bottom: 0.2rem;
}

.notes .note-categories li:last-child a {
  font-weight: 400;
}

.notes .note-categories a {
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid;
  line-height: normal;
  transition: all 0.1s;
  cursor: pointer;
}

.notes .note-categories a:hover {
  background: var(--light-black);
  color: var(--white);
}

.notes .note-categories a.green {
  background: var(--light-green);
  color: var(--white);
}

.notes .note-categories a.red {
  background: var(--light-red);
  color: var(--white);
}

.notes .note-delete-icon {
  position: absolute;
  right: 8px;
  top: 10px;
  color: var(--light-black);
}

.notes .note-edit-icon {
  position: absolute;
  right: 30px;
  top: 9px;
  color: var(--light-black);
}

.note-delete-icon i,
.note-edit-icon {
  cursor: pointer;
}

/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }

  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
