.container {
  max-width: 1200px;
  min-width: 700px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
    'hd'
    'main'
    'footer';
}

header {
  grid-area: hd;
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: space-around;
}

aside {
  font-size: 1.3rem;
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background: #292929;
  grid-area: sidebar;
}

footer {
  font-size: 1.3rem;
  grid-area: footer;
  padding: 20px 0 20px 0;
  margin-top: 50px;
}

main {
  grid-area: main;
}
