@import './grid.css';
@import './variables.css';
@import './buttons.css';
@import './layout.css';
@import './filters.css';
@import './form.css';
@import './note.css';
@import './modal.css';
@import './draganddrop.css';
@import './spinner.css';
@import './detail.css';
@import './nav.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--font-color);
  font-weight: 200;
  background-color: var(--lighter-grey);
  margin: 50px 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}

header h1 {
  font-weight: 100;
  color: var(--font-color);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

aside,
main {
  text-align: center;
}

section {
  padding: 20px 0 40px 0;
}

.logo {
  letter-spacing: 3px;
}
