:root {
  --black: #1a1a1a;
  --grey: #353535;
  --white: #fff;
  --green: #a0ca92;

  --background-color: #ffffff;
  --background-color-2: #ffffff;
  --font-color: #000;
  --font-lighter: #ded6a8;

  --contrast-color: #079bab;

  --light-grey: #f2f2f2;
  --light-black: rgb(26, 26, 26, 0.75);

  --chromatic-light-color: #dff2d8;
  --chromatic-light-color-2: #4775ff;
  --chromatic-light-color-3: #244033;

  --success-color: #949e05;

  --button-hover-color: #a0ca92;

  --importance-1: rgb(98, 187, 0, 0.55);
  --importance-2: rgb(150, 187, 0, 0.55);
  --importance-3: rgb(187, 172, 0, 0.55);
  --importance-4: rgb(187, 60, 0, 0.55);
  --importance-5: rgb(187, 0, 47, 0.55);
}

body.theme__dark {
  --background-color: #ffc432;
  --font-color: #614c18;
  --font-lighter: #806a33;

  --contrast-color: #079bab;

  --white-color: #222;
  --light-grey: #f2f2f2;

  --chromatic-light-color: #ffde8e;
  --chromatic-light-color-2: #ffd56c;
  --chromatic-light-color-3: #3e584b;

  --success-color: #949e05;

  --button-hover-color: #73614c;

  --importance-1: #62bb00;
  --importance-2: #96bb00;
  --importance-3: #bbac00;
  --importance-4: #bb3c00;
  --importance-5: #bb002f;
}

.note--importance-5 {
  background-color: var(--importance-5);
}

.note--importance-4 {
  background-color: var(--importance-4);
}

.note--importance-3 {
  background-color: var(--importance-3);
}

.note--importance-2 {
  background-color: var(--importance-2);
}

.note--importance-1 {
  background-color: var(--importance-1);
}
