:root {
  --black: #1a1a1a;
  --grey: #353535;
  --white: #fff;
  --green: #a0ca92;

  --background-color: #ffffff;

  --font-color: rgba(0, 0, 0, 0.55);
  --font-lighter: #ded6a8;

  --contrast-color: #079bab;

  --light-grey: rgb(242, 242, 242);
  --light-black: rgb(26, 26, 26, 0.75);
  --light-red: rgb(227, 44, 44, 0.45);
  --light-green: rgba(97, 211, 59, 0.45);

  --lighter-red: rgb(227, 44, 44, 0.25);
  --lighter-grey: rgba(0, 0, 0, 0.15);

  --effect-grey: #777;
  --effect-light-black-1: rgba(0, 0, 0, 0.1);
  --effect-light-black-3: rgba(0, 0, 0, 0.3);
  --effect-light-black-8: rgba(0, 0, 0, 0.8);

  --dark-red: rgb(147, 20, 20);

  --importance-1: rgb(181, 224, 221, 0.55);
  --importance-2: rgb(249, 227, 170, 0.55);
  --importance-3: rgb(195, 144, 92, 0.55);
  --importance-4: rgb(169, 56, 86, 0.55);
  --importance-5: rgb(240, 105, 43, 0.55);

  --button-color: rgba(97, 211, 59, 0.6);
  --button-hover-color: rgba(97, 211, 59, 0.4);

  --note-background: rgb(250, 250, 250, 1);
  --note-light-black: rgba(0, 0, 0, 0.1);

  --navlink-grey: rgb(179, 179, 179);
}

body.theme__dark {
  --background-color: #ffc432;
  --font-color: #614c18;
  --font-lighter: #806a33;

  --contrast-color: #079bab;

  --white-color: #222;
  --light-grey: #f2f2f2;

  --chromatic-light-color: #ffde8e;
  --chromatic-light-color-2: #ffd56c;
  --chromatic-light-color-3: #3e584b;

  --success-color: #949e05;

  --button-hover-color: #73614c;

  --importance-1: #62bb00;
  --importance-2: #96bb00;
  --importance-3: #bbac00;
  --importance-4: #bb3c00;
  --importance-5: #bb002f;
}
